#content {
 width: 960px;
 margin-left: auto;
 margin-right: auto;
 background-color: #EEE;
 padding: 10px;
}

div.highlight {
 margin: 0px 20px;
}
div.highlight ol{
 margin-left: 40px;
}
div.highlight li{
 color: #831D0A;
}
div.highlight li div.line{
 color: #333;
}
